@model List<Model.EF.Brand>
<div class="container block_brands">
    <div class="block_brands">
        <div class="block__header"><span class="block__header__title">CÁC THƯƠNG HIỆU</span></div>

        <!-- Brands Slider -->

        <div class="brands_slider swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide"><img src="@item.Logo" alt=""></div>
                }
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
</div>
