@model List<Model.EF.Menu>


@foreach (var item in Model)
{
    <div class="header_bottom_item"><a href="@item.Link" target="@item.Target" class="text" style="text-transform: uppercase; margin-left: 0px !important;">@item.Text</a></div>
}
